text-input {
  display: block;
  margin: 1ex 0;

  input {
    outline: none;
    border: 1.66px solid var(--gray-5);
    font-size: large;
    font-weight: 300;
    padding: 1.4ex 1.66ex;
    border-radius: 0.33ex;
    color: var(--gray-6);
    width: 100%;
    background-color: #fff;
    font-family: 'Inter var';
  }

  input:hover {
    border: 1.66px solid var(--black);
    box-shadow: 0 0 0.5ex -0.1ex rgba(10, 10, 10, 0.33);
  }

  input:focus {
    outline: none;
    border: 1.66px solid var(--black);
    box-shadow: 0px 0px 0 0.3ex inset var(--sand), 0px 0px 0 0.5ex var(--yellow);
  }

  p.hint {
    color: var(--gray-5);
    font-weight: 300;
    margin: 0.5em 0 0;
  }
}
