button-control {
  display: block;

  button {
    --dark-colour: var(--blue-dark);
    --light-colour: #fff;
    --shadow-colour: rgba(10, 10, 10, 0.18);

    outline: none;
    background-color: var(--dark-colour);
    color: var(--light-colour);
    padding: 1.5ex 1.66ex 1.88ex;
    display: grid;
    grid-template-columns: auto min-content;
    cursor: pointer;
    text-align: left;
    box-shadow: 0px -10px 1.12px -4px inset var(--shadow-colour), 0 0ex 0ex 0ex rgba(10, 10, 10, 0);
    border-radius: 0.33ex;
    font-size: 0.95rem;
    font-family: 'Inter';
    border: 1px solid rgba(10, 10, 10, 0.12);
    gap: 1ex;

    &.tight {
      padding: 1ex 1ex calc(1ex + 4px);
      font-weight: 500;

      * {
        font-weight: 500;
      }
    }

    *:empty {
      display: none;
    }

    &:focus {
      outline: 0.5ex solid var(--yellow);
    }

    &:hover {
      background-color: var(--dark-colour);
      filter: brightness(1.08);
      color: var(--light-colour);
      box-shadow: 0px -10px 1.12px -4px inset var(--shadow-colour), 0 0 0.5ex -0.1ex rgba(10, 10, 10, 0.33);
      border: 1px solid rgba(10, 10, 10, 0.18);
    }

    &:active {
      background-color: var(--dark-colour);
      filter: brightness(0.94);
      color: var(--light-colour);
      box-shadow: 0px 2ex 2ex -2ex inset var(--shadow-colour);
    }
  }

  button.red {
    --dark-colour: var(--red);
    --light-colour: var(--red-contrast);
  }

  button.green {
    --dark-colour: var(--green);
    --light-colour: var(--green-contrast);
  }

  button.blue {
    --dark-colour: var(--blue);
    --light-colour: var(--blue-contrast);
  }

  button.primary {
    --dark-colour: var(--primary-red);
    --light-colour: var(--primary-contrast);
  }

  button.sand {
    --dark-colour: var(--sand);
    --light-colour: var(--blue-dark);
  }

  button.light {
    --dark-colour: var(--white);
    --light-colour: var(--blue-dark);
  }

  button.yellow {
    --dark-colour: var(--yellow);
    --light-colour: var(--yellow-contrast);
  }

  div {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding-bottom: 0.66ex;
  }

  header {
    grid-column: 1 / -2;
    grid-row: 1 / -2;
    font-weight: 600;
  }

  aside {
    grid-column: -2 / -1;
    grid-row: 1 / -2;
    text-align: right;
    font-size: 1.44rem;
    line-height: 1rem;
    font-weight: 500;
  }
}
