header-container {
  --background-color: #fff;

  display: block;
  color: var(--blue-dark);
  background-color: var(--background-color);
  padding: 0 1rem;
  border-bottom: 3px solid var(--black);

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: -0.25ex;
    left: calc(15vw / 2);
    width: 85vw;
    height: 0.5ex;
    background: radial-gradient(circle, var(--primary-red) 33%, var(--primary-dark) 100%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }

  article {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    align-items: stretch;
  }

  aside {
    flex: 0 0 auto;
    padding: 1ex 0;
  }

  img {
    height: 2.33rem;
  }

  @media screen and (min-width: 670px) {
    img.small {
      display: none;
    }
  }

  @media screen and (max-width: 670px) {
    img.normal {
      display: none;
    }
  }

  header {
    flex: 1 1 100%;
    padding: 0 3vw;
    display: flex;
    align-items: center;

    h1 {
      font-size: 14pt;
      color: var(--blue-dark);
      text-transform: uppercase;
    }
  }

  nav {
    flex: 0 0 auto;

    button.menu-toggle {
      display: none;
    }

    ul {
      display: flex;
      align-items: stretch;
      height: 100%;
      li {
        border-width: 0 2px;
        border-style: solid;
        border-color: var(--black);
        flex: 1 1 100%;
        display: flex;
        align-items: stretch;
        margin: 0;

        & ~ li {
          border-left: none;
        }

        &.highlight {
          background-color: var(--primary-red);

          &:hover {
            background-color: var(--red-light);
          }

          a {
            color: var(--primary-contrast);
          }
        }

        &:focus-within {
          background-color: var(--yellow);
        }

        &:hover {
          background-color: var(--white);
        }

        a {
          text-decoration: none;
          color: var(--blue);
          outline: none;
          color: var(--black);
          font-weight: 450;
          padding: 0 1em;
          display: flex;
          align-items: center;
        }
      }
    }

    @media screen and (max-width: 875px) {
      button.menu-toggle {
        border: none;
        background-color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 450;
        width: 30px;
        text-align: center;
        cursor: pointer;
      }

      ul {
        position: fixed;
        z-index: 1000;
        flex-direction: column;
        left: 0;
        background-color: #fff;
        border: 2px solid var(--black);
        border-width: 0 2px 0 0;
        bottom: 0px;
        transition-property: transform, box-shadow;
        transition-duration: 200ms;
        transform: translateX(-100%);

        li {
          border-width: 2px 0;

          a {
            padding-right: calc(1em + 10vw);
          }

          & ~ li {
            border-top: 0;
          }

          &:first-child {
            border-top: 0;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }

      &.open {
        ul {
          transform: translateX(0);
          box-shadow: -20vh 0 30vw 20vh var(--black);
        }
      }
    }
  }
}
